.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 20px;
  background-color: white;
  border-bottom: 2px solid #333; /* 하단 검은색 선 */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.countryWrap {
  display: flex;
  gap: 10px;
}

/* 모바일 (최대 768px) */
@media (max-width: 768px) {
  .header {
    display: block;
    text-align: center;
  }

  .logo {
    font-size: 30px;
  }

  .countryWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .countryWrap button {
    height: 70px;
  }
}
