/* 화면 전체 배경 스타일 */
body {
  background-color: white; /* 흰색 배경 */
  color: #333;
}

/* 페이지 전체를 감싸는 컨테이너 */
.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 80px);
  height: calc(100vh - 84px);
  margin: 40px auto;
  border: 2px solid #333;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.appContents {
  width: calc(100vw - 100px);
  min-width: 290px;
}

/* 태블릿 (최대 1024px) */
@media (max-width: 1024px) {
  .appContainer {
    width: calc(100vw - 60px);
    height: auto;
    margin: 30px auto;
  }
}

/* 모바일 (최대 768px) */
@media (max-width: 768px) {
  .appContainer {
    width: calc(100vw - 40px);
    margin: 20px auto;
  }
}
